@import "textfield";
@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

html, body {
  font-size: 16px;
  color: #2C3E50;
  height: 100%;
  overflow-x: hidden;
}

#app {
  height: 100%;
}

